{% extends 'main_page/nav.html' %}
{% block link %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'main_page/css/profile.css' %}"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}
{% block title %}
"DBN"
{% endblock %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="row no-gutters">
        <div class="col-md-4 col-lg-4"><img src="{{ user.userprofile.avatar.url }}"></div>
        <div class="col-md-8 col-lg-8">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row justify-content-between align-items-center p-5 bg-dark text-white">
                    <h3 class="display-5">{{ user.username }}</h3><i class="fa fa-facebook"></i><i class="fa fa-google"></i><i
                        class="fa fa-youtube-play"></i><i class="fa fa-dribbble"></i><i class="fa fa-linkedin"></i>
                </div>
                <div class="p-3 bg-black text-white">
                    <h6>{{ user.userprofile.job }}</h6>
                </div>
                <div class="d-flex flex-row text-white">
                    <div class="p-4 bg-primary text-center skill-block">
                        <h4>Тут</h4>
                        <h6>Можуть</h6>
                    </div>
                    <div class="p-3 bg-success text-center skill-block">
                        <h4>Бути</h4>
                        <h6>Ваші</h6>
                    </div>
                    <div class="p-3 bg-warning text-center skill-block">
                        <h4>Скіли</h4>
                        <h6>Але</h6>
                    </div>
                    <div class="p-3 bg-danger text-center skill-block">
                        <h4>В</h4>
                        <h6>Майбутньому</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
